.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.form {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #666;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group input[type="number"] {
  appearance: textfield;
}

/* Submit button styling */
.submit-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 15px 30px; /* Increase button size */
  font-size: 18px; /* Increase font size */
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto; /* Center the button */
}

.submit-btn:hover {
  background-color: #0056b3;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 15px 30px; /* Increase button size */
  font-size: 18px; /* Increase font size */
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto; /* Center the button */
}

.button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

.meal-plans {
  width: 90%;
  margin: 10px auto; /* Centering the table */
  border-collapse: collapse;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.meal-plans th,
.meal-plans td {
  padding: 8px;
  border: 1px solid #ccc;
}

.meal-plans th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: left;
}

.meal-plans tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
